# Read tables from website

In [1]:
import pandas as pd

In [2]:
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)#Season_1_(1989%E2%80%9390)')

In [3]:
len(simpsons)

23

In [4]:
simpsons[1]

,No. overall,No. in season,Title,Directed by,Written by,Original air date,Prod. code,U.S. viewers (millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[46]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[46]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990",7G03,27.5[47]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990",7G04,20.2[48]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990",7G05,27.1[49]
5,6,6,"""Moaning Lisa""",Wes Archer,Al Jean & Mike Reiss,"February 11, 1990",7G06,27.4[50]
6,7,7,"""The Call of the Simpsons""",Wes Archer,John Swartzwelder,"February 18, 1990",7G09,27.6[51]
7,8,8,"""The Telltale Head""",Rich Moore,"Al Jean, Mike Reiss, Sam Simon & Matt Groening","February 25, 1990",7G07,28[52]
8,9,9,"""Life on the Fast Lane""",David Silverman,John Swartzwelder,"March 18, 1990",7G11,33.5[53]
9,10,10,"""Homer's Night Out""",Rich Moore,Jon Vitti,"March 25, 1990",7G10,30.3[54]
10,11,11,"""The Crepes of Wrath""",Wes Archer & Milton Gray,"George Meyer, Sam Simon, John Swartzwelder & J...","April 15, 1990",7G13,31.2[55]
11,12,12,"""Krusty Gets Busted""",Brad Bird,Jay Kogen & Wallace Wolodarsky,"April 29, 1990",7G12,30.4[56]
12,13,13,"""Some Enchanted Evening""",David Silverman & Kent Butterworth,Matt Groening & Sam Simon,"May 13, 1990",7G01,27.1[57]

# Web Scraping with Pandas

## Read a .csv from URL with Pandas

In [5]:
# reading 1 csv file from the website
df_premier22 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [6]:
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,E0,14/01/2023,15:00,Wolves,West Ham,1,0,H,0,0,...,1.66,-0.25,2.11,1.82,2.15,1.80,2.19,1.84,2.13,1.77
183,E0,14/01/2023,17:30,Brentford,Bournemouth,2,0,H,1,0,...,1.93,-1.00,2.00,1.80,2.08,1.85,2.17,1.89,2.09,1.79
184,E0,15/01/2023,14:00,Chelsea,Crystal Palace,1,0,H,0,0,...,1.66,-0.50,1.89,2.04,1.88,2.04,1.93,2.05,1.89,2.00
185,E0,15/01/2023,14:00,Newcastle,Fulham,1,0,H,0,0,...,2.22,-1.25,2.08,1.85,2.09,1.85,2.13,1.88,2.07,1.82
186,E0,15/01/2023,16:30,Tottenham,Arsenal,0,2,A,0,2,...,1.90,0.25,2.00,1.93,2.00,1.93,2.01,1.95,1.98,1.90

In [7]:
# rename columns
df_premier22.rename(columns={'FTHG':'home_goals',
                             'FTAG':'away_goals'}, inplace=True)

In [8]:
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,E0,14/01/2023,15:00,Wolves,West Ham,1,0,H,0,0,...,1.66,-0.25,2.11,1.82,2.15,1.80,2.19,1.84,2.13,1.77
183,E0,14/01/2023,17:30,Brentford,Bournemouth,2,0,H,1,0,...,1.93,-1.00,2.00,1.80,2.08,1.85,2.17,1.89,2.09,1.79
184,E0,15/01/2023,14:00,Chelsea,Crystal Palace,1,0,H,0,0,...,1.66,-0.50,1.89,2.04,1.88,2.04,1.93,2.05,1.89,2.00
185,E0,15/01/2023,14:00,Newcastle,Fulham,1,0,H,0,0,...,2.22,-1.25,2.08,1.85,2.09,1.85,2.13,1.88,2.07,1.82
186,E0,15/01/2023,16:30,Tottenham,Arsenal,0,2,A,0,2,...,1.90,0.25,2.00,1.93,2.00,1.93,2.01,1.95,1.98,1.90